
@{
    ViewData["Title"] = "CevapSecimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<CheckboxViewModel>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="border border-primary">
    <form method="post" class="m-5">
        <h4>Bugün ne kadar spor yaptın?</h4>
        <div>
            @for (var index = 0; index < @Model.Count(); index++)
            {
                <input type="checkbox" value="javascript"  asp-for="@Model[index].IsChecked" class="form-check-input" />
                <label class="form-check-label" asp-for="@Model[index].IsChecked">@Model[index].LabelName</label>
                <input type="hidden" asp-for="@Model[index].Id" />
                <input type="hidden" asp-for="@Model[index].LabelName" />
                <br />
            }
        </div>
        <div>
            <input class="btn btn-primary mt-3" id="btnGonder" type="submit" value="Gönder" />
        </div>

    </form>
</div>
@section Scripts{
    <script>

        <script>
            $(document).ready(function () {
                $('#btnGonder').change(function () {
                    if (this.checked)
                        showDetail(this.value);
                    else
                        just_hide(this.value);
                });
            });

        function showDetail(ele) {
            $('#' + ele).show('slow');
        }

        function just_hide(ele) {
            $('#' + ele).hide();
        }
    </script>
    </script>
            }



